<section class="col-xs-12 col-sm-12  col-md-12 col-lg-12 row">
  <h2>{{property.post.title}}</h2>
  <article class="col-xs-6 col-sm-6  col-md-6 col-lg-6 col-lg-offset-1">
    <carousel interval="carouselInterval" class="container-fluid propertySlider" style="height:300px; overflow:hidden;">
      <slide ng-repeat="media in property.media" active="media.active">
        <img ng-src="{{media.source}}" style="margin:auto;" class="img-responsive">
        <div class="carousel-caption">
          <h4>{{media.title}}</h4>
        </div>
      </slide>
    </carousel>
  </article>

  <article class="propertyContentBorder  col-xs-3 col-sm-3  col-md-3 col-lg-3   row">
    <h3>Fakta</h3>
    <ul>
      <li>Region: {{property.propertyData.region}}</li>
      <li>Stad: {{property.propertyData.stad}}</li>
      <li>Pris: {{property.propertyData.pris}}:-</li>
      <li>Hyra: {{property.propertyData.hyra}}:-</li>
      <li>Yta: {{property.propertyData.yta}} Km²</li>
      <li>Rum: {{property.propertyData.rum}}</li>
      <li>Våning: {{property.propertyData.trappor}}</li>
      <li>Hiss: {{property.propertyData.hiss}}</li>
      <li>Balkong: {{property.propertyData.balkong}}</li>
      <li>Typ av bostad: {{property.propertyData.typ}}</li>
    </ul>
  </article>


  <article class=" col-xs-12 col-sm-8  col-md-6 col-lg-10  col-lg-offset-1 propertyContentBorderAndMargin" ng-bind-html="property.post.content">
  </article>


  <atricle>
    <div ng-repeat="media in property.media" active="media.active" class="col-xs-5 col-sm-53  col-md-6 col-lg-3  col-lg-offset-53 well">
      <img ng-src="{{media.source}}" style="margin:auto;" class="img-responsive ">
    </div>
  </article> 

</section>


