<article class="col-xs-10 col-sm-10  col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 row backImage">
  <!--   title isn't included from our media factory, maby will be  <h2>{{property.post.title}}</h2> -->
  <article class="col-xs-12 col-sm-12  col-md-12 col-lg-12 row">
    <carousel interval="carouselInterval" class="container-fluid propertySlider">
      <slide ng-repeat="media in hemMedia" active="media.active">
        <a href="" ng-click="goTo('property/'+media.propertySlug)">
          <img ng-src="{{media.source}}" style="margin:auto;" class="img-responsive">
        </a>
        <div class="carousel-caption">
<!--       title isn't included from our media factory, maby will be    <h4>{{media.title}}</h4> -->
        </div>
      </slide>
    </carousel>
  </article>

</article>