<article class="col-xs-10 col-sm-10  col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 row">
  <h2>{{property.post.title}}</h2>
  <article class="col-xs-12 col-sm-12  col-md-12 col-lg-12 row">
    <carousel interval="carouselInterval" class="container-fluid propertySlider">
      <slide ng-repeat="media in property.media" active="media.active">
        <img ng-src="{{media.source}}" style="margin:auto;" class="img-responsive">
        <div class="carousel-caption">
        </div>
      </slide>
    </carousel>
  </article>

  <article class=" col-xs-12 col-sm-12  col-md-8 col-lg-8 row" >
    <div ng-bind-html="property.post.content" class="well whiteColor"></div>
  </article>

  <article class="col-xs-12 col-sm-12  col-md-3 col-lg-3  col-md-offset-1 col-lg-offset-1 row">
    <div class="well whiteColor">
      <h3>Fakta</h3>
      <ul>
        <li><strong>Typ av bostad:</strong> {{property.propertyData.bostad}}</li>
        <li><strong>Stadsdel:</strong> {{property.propertyData.stadsdel}}</li>
        <li><strong>Pris:</strong> {{property.propertyData.pris}}:-</li>
        <li><strong>Yta:</strong> {{property.propertyData.yta}} Km²</li>
        <li><strong>Rum:</strong> {{property.propertyData.rum}}</li>
        <li><strong>Balkong:</strong> {{property.propertyData.balkong/1 ? "Ja" : "Nej"}}</li>
        <li><strong>Hiss:</strong> {{property.propertyData.hiss/1 ? "Ja" : "Nej"}}</li>
        <li><strong>Hyra:</strong> {{property.propertyData.hyra}}:-</li>
        <li><strong>Våning:</strong> {{property.propertyData.trappor}}</li>
      </ul>
    </div>
  </article>

  <atricle class="col-xs-12 col-sm-12  col-md-12 col-lg-12  row">
    <div ng-repeat="media in property.media" active="media.active" class="well">
      <img ng-src="{{media.source}}" style="margin:auto;" class="img-responsive ">
    </div>
  </article> 
</article>