<section class="container searchImage">
  <div class="row">
    <div class="col-lg-12">

      <div class="col-lg-2">
        <form class="facilityFilters">
          <h2 class="tillagg">BOSTAD</h2>



          <article ng-repeat="bostad in bostader">
            <label>
              <input
              type="checkbox"
              value="¨{{bostad.name}}"
              ng-model="bostad.val" 
              >{{bostad.name}}<br/>
                <!-- <label for="lagenhet_id"> Lägenhet</label><br> -->
            </label>

          </article>




            <!-- <label for="lagenhet_id"> Lägenhet {{cb_lagenhet}}</label><br> -->
          <!-- <input type="checkbox" ng-model="bostad.val2" name="filterbox" id="Villa_id" value="Villa"> 
            <label for="Villa_id"> Villa</label><br>
          <input type="checkbox" ng-model="bostad.val3" name="filterbox" id="Radhus_id" value="Radhus"> 
            <label for="Radhus_id"> Radhus</label><br>
          <input type="checkbox" ng-model="bostad.val4" name="filterbox" id="koloni_id" value="koloni"> 
            <label for="koloni_id"> Koloniträdgård</label><br>
          <input type="checkbox" ng-model="bostad.val5" name="filterbox" id="student_id" value="student"> 
            <label for="student_id"> Studentlägenhet</label><br>
          <input type="checkbox" ng-model="bostad.val6" name="filterbox" id="stuga_id" value="stuga"> 
            <label for="stuga_id"> Stuga</label><br>
          <input type="checkbox" ng-model="bostad.val7" name="filterbox" id="senior_id" value="senior"> 
            <label for="senior_id"> Seniorboende</label><br>
          <input type="checkbox" ng-model="bostad.val8" name="filterbox" id="ovrig_id" value="ovrig"> 
            <label for="ovrig_id"> Övriga boenden</label><br> -->
        </form>
      </div>

      <div class="col-lg-2">
        <form class="accessoryFilters">
          <h2 class="tillagg">TILLBEHÖR</h2>
          <input type="checkbox" ng-model="cb_balkong" name="filterbox" id="balkong_id" value="balkong"> 
            <label for="balkong_id"> Balkong</label><br>
          <input type="checkbox" ng-model="cb_badkar" name="filterbox" id="badkar_id" value="badkar"> 
            <label for="badkar_id"> Badkar</label><br>
          <input type="checkbox" ng-model="cb_hiss" name="filterbox" id="hiss_id" value="hiss"> 
            <label for="hiss_id"> Hiss</label><br>
          <input type="checkbox" ng-model="cb_terass" name="filterbox" id="terass_id" value="terass"> 
            <label for="terass_id"> Terass</label><br>

        <div class="roomSlider">
          <h3>Antal rum</h3>
          <h6>(justera slider för filtrering)</h6>
          <input ng-model="roomValue" type="text" id="mySlider1" slider options="options4" />
        </div>

        </form>
      </div>

      <div class="col-lg-2">
        <form class="municipalityFilter">
          <h2 class="omrade">OMRÅDE</h2>
          <input type="checkbox" ng-model="cb_annelund" name="filterbox" id="Annelund_id" value="Annelund"> 
            <label for="Annelund_id"> Annelund</label><br>
          <input type="checkbox" ng-model="cb_annetorp" name="filterbox" id="Annetorp_id" value="Annetorp"> 
            <label for="Annetorp_id"> Annetorp</label><br>
          <input type="checkbox" ng-model="cb_arlov" name="filterbox" id="Arlöv_id" value="Arlöv"> 
            <label for="Arlöv_id"> Arlöv</label><br>          
          <input type="checkbox" ng-model="cb_bellevue" name="filterbox" id="Bellevue_id" value="Bellevue"> 
            <label for="Bellevue_id"> Bellevue</label><br>          
          <input type="checkbox" ng-model="cb_bunkeflostrand" name="filterbox" id="Bunkeflostrand_id" value="Bunkeflostrand"> 
            <label for="Bunkeflostrand_id"> Bunkeflostrand</label><br>          
          <input type="checkbox" ng-model="cb_dammfri" name="filterbox" id="Dammfri_id" value="Dammfri"> 
            <label for="Dammfri_id"> Dammfri</label><br>          
          <input type="checkbox" ng-model="cb_husie" name="filterbox" id="Husie_id" value="Husie"> 
            <label for="Husie_id"> Husie</label><br>          
          <input type="checkbox" ng-model="cb_hyllie" name="filterbox" id="Hyllie_id" value="Hyllie"> 
            <label for="Hyllie_id"> Hyllie</label><br>          
          <input type="checkbox" ng-model="cb_limhamn" name="filterbox" id="Limhamn_id" value="Limhamn"> 
            <label for="Limhamn_id"> Limhamn</label><br>          
          <input type="checkbox" ng-model="cb_oxie" name="filterbox" id="Oxie_id" value="Oxie"> 
            <label for="Oxie_id"> Oxie</label><br>          
          <input type="checkbox" ng-model="cb_ribersborg" name="filterbox" id="Ribersborg_id" value="Ribersborg"> 
            <label for="Ribersborg_id"> Ribersborg</label><br>          
          <input type="checkbox" ng-model="cb_sibbarp" name="filterbox" id="Sibbarp_id" value="Sibbarp"> 
            <label for="Sibbarp_id"> Sibbarp</label><br>          
          <input type="checkbox" ng-model="cb_solbacken" name="filterbox" id="Solbacken_id" value="Solbacken"> 
            <label for="Solbacken_id"> Solbacken</label><br>          
          <input type="checkbox" ng-model="cb_toftanas" name="filterbox" id="Toftanäs_id" value="Toftanäs"> 
            <label for="Toftanäs_id"> Toftanäs</label><br>          
          <input type="checkbox" ng-model="cb_vastra" name="filterbox" id="Västra_Hamnen_id" value="Västra Hamnen"> 
            <label for="Västra_Hamnen_id"> Västra Hamnen</label><br>
        </form>
      </div>


      <div class="col-lg-4">
        <form class="accessoryFilters">
          <h2 class="extra">FILTER</h2><h4>(justera slider för filtrering)</h4>
          <div class="priceSlider">
            <h3>Pris/bostad</h3>
            <input ng-model="priceValue" type="text" id="mySlider1" slider options="options1" />
          </div>
          
          <div class="rentSlider">
            <h3>Hyra/bostad</h3>
            <input ng-model="rentValue" type="text" id="mySlider2" slider options="options2" />
          </div>

          <div class="spaceSlider">
            <h3>Yta/bostad</h3>
            <input ng-model="spaceValue" type="text" id="mySlider3" slider options="options3" />
          </div>
        </form>

        <div class="col-lg-6 submitButton">
          <button type="button" ng-click="searchAndFind()" id="submit" class="btn btn-success resetButton" value="submit">SÖK</button>
        </div>

        <div class="col-lg-6 resetButton">
          <button type="button" id="submit" ng-click="resetSearch()" class="btn btn-danger resetButton" value="submit">Återställ sök</button>
        </div>
      </div>

      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 blackText">
        <article ng-include="searchDir+'views/searchChild.html'">
        </article>
      </article>

    </div>
  </div>
</section>
