<section class="container searchImage">
  <div class="row">
    <div class="col-lg-12">

      <div class="col-lg-4">
        <form class="municipalityFilter">
          <input type="checkbox" name="filterbox" id="Annelund_id" value="Annelund"> 
            <label for="Annelund_id"> Annelund</label><br>
          <input type="checkbox" name="filterbox" id="Annetorp_id" value="Annetorp"> 
            <label for="Annetorp_id"> Annetorp</label><br>
          <input type="checkbox" name="filterbox" id="Arlöv_id" value="Arlöv"> 
            <label for="Arlöv_id"> Arlöv</label><br>          
          <input type="checkbox" name="filterbox" id="Bellevue_id" value="Bellevue"> 
            <label for="Bellevue_id"> Bellevue</label><br>          
          <input type="checkbox" name="filterbox" id="Bunkeflostrand_id" value="Bunkeflostrand"> 
            <label for="Bunkeflostrand_id"> Bunkeflostrand</label><br>          
          <input type="checkbox" name="filterbox" id="Dammfri_id" value="Dammfri"> 
            <label for="Dammfri_id"> Dammfri</label><br>          
          <input type="checkbox" name="filterbox" id="Husie_id" value="Husie"> 
            <label for="Husie_id"> Husie</label><br>          
          <input type="checkbox" name="filterbox" id="Hyllie_id" value="Hyllie"> 
            <label for="Hyllie_id"> Hyllie</label><br>          
          <input type="checkbox" name="filterbox" id="Limhamn_id" value="Limhamn"> 
            <label for="Limhamn_id"> Limhamn</label><br>          
          <input type="checkbox" name="filterbox" id="Oxie_id" value="Oxie"> 
            <label for="Oxie_id"> Oxie</label><br>          
          <input type="checkbox" name="filterbox" id="Ribersborg_id" value="Ribersborg"> 
            <label for="Ribersborg_id"> Ribersborg</label><br>          
          <input type="checkbox" name="filterbox" id="Sibbarp_id" value="Sibbarp"> 
            <label for="Sibbarp_id"> Sibbarp</label><br>          
          <input type="checkbox" name="filterbox" id="Solbacken_id" value="Solbacken"> 
            <label for="Solbacken_id"> Solbacken</label><br>          
          <input type="checkbox" name="filterbox" id="Toftanäs_id" value="Toftanäs"> 
            <label for="Toftanäs_id"> Toftanäs</label><br>          
          <input type="checkbox" name="filterbox" id="Västra_Hamnen_id" value="Västra Hamnen"> 
            <label for="Västra_Hamnen_id"> Västra Hamnen</label><br>
        </form>
      </div>

      <div class="col-lg-4">
        <form class="accessoryFilters">
          <input type="checkbox" name="filterbox" id="balkong_id" value="balkong"> 
            <label for="balkong_id"> Balkong</label><br>
          <input type="checkbox" name="filterbox" id="badkar_id" value="badkar"> 
            <label for="badkar_id"> Badkar</label><br>
          <input type="checkbox" name="filterbox" id="hiss_id" value="hiss"> 
            <label for="hiss_id"> Hiss</label><br>
          <input type="checkbox" name="filterbox" id="terass_id" value="terass"> 
            <label for="terass_id"> Terass</label><br>
        </form>
      </div>

      <div class="col-lg-4 resetButton">
        <button type="button" class="btn btn-default">Reset Search</button>
      </div>
      <button type="button" class="btn btn-primary" 
         data-toggle="button">Single toggle
      </button>

    </div>
  </div>
</section>


<!-- <form name="myForm" ng-controller="ExampleController">
  <input type="radio" ng-model="color.name" value="red">  Red <br/>
  <input type="radio" ng-model="color.name" ng-value="specialValue"> Green <br/>
  <input type="radio" ng-model="color.name" value="blue"> Blue <br/>
  <tt>color = {{color.name | json}}</tt><br/>
</form>
 -->