<div ng-repeat="property in searchProperties | bostaderFilter:bostader | hissFilter:hiss | balkongFilter:balkong | omradesFilter:omroden | prisSliderFilter:priceValue | rumSliderFilter:roomValue | hyraSliderFilter:rentValue | ytaSliderFilter:spaceValue"  class="col-xs-10 col-sm-5  col-md-5 col-lg-5 container well propertyMargin">
  <!-- this a element is the klick event, us this tay, observr where it ends.. -->

  <a href="" ng-click="goTo('property/'+property.post.slug)">
    <h3 class="strongText">{{property.post.title}}</h3>
    <article class=" ">
        <img ng-src="{{property.media[0].source}}" class="col-xs-12 col-sm-12  col-md-12 col-lg-12">
    </article>

    <article class="col-xs-12 col-sm-12  col-md-12 col-lg-12 ">
      <h4 class="faktaTitle">Fakta</h4>
      <ul>
        <li><strong>Typ av bostad</strong> {{property.propertyData.bostad}}</li>
        <li><strong>Stadsdel:</strong> {{property.propertyData.stadsdel}}</li>
        <li><strong>Pris:</strong> {{property.propertyData.pris}}:-</li>
        <li><strong>Hyra:</strong> {{property.propertyData.hyra/1 ? property.propertyData.hyra+":-" : "Nej"}}</li>
        <li><strong>Yta:</strong> {{property.propertyData.yta}} m²</li>
        <li><strong>Våning:</strong> {{property.propertyData.trappor}}</li>
        <li><strong>Rum:</strong> {{property.propertyData.rum}}</li>
        <li><strong>Balkong:</strong> {{property.propertyData.balkong/1 ? "Ja" : "Nej"}}</li>
        <li><strong>Hiss:</strong> {{property.propertyData.hiss/1 ? "Ja" : "Nej"}}</li>
      </ul>
    </article>
  </a>
</div>
